@model NS.STMS.MVC.Models.Admin.GradeLectures.GradeLecturesAddViewModel

@await Component.InvokeAsync("PageHeader", new { model = Model.PageHeader })

<style>
	.process-btn {
		height: 35px;
		font-size: 14px;
		width: 100%;
		margin-top: 10px;
	}
</style>

<div class="row col-12">

	@await Component.InvokeAsync("InputDropDownDiv", new
	{
	id = "GradeInput",
	key = "Grades",
	options = Model.Grades
	})

	@await Component.InvokeAsync("InputDropDownDiv", new
	{
	id = "LectureInput",
	key = "Lectures",
	options = Model.Lectures
	})

	@await Component.InvokeAsync("ProcessInputDiv", new
	{
	id = "CreateInput",
	text = "Create",
	btnClass = "btn-success",
	onClick = "createGradeLecture()"
	})

</div>

<script>

	function createGradeLecture() {

		var lectureId = getInputVal('LectureInput');
		var gradeId = getInputVal('GradeInput');

		var data = {
			LectureId: lectureId,
			GradeId: gradeId
		};

		var url = '/Admin/GradeLectures/Add';
		postJSonToController(url, data, createGradeLectureOnSuccess);

	}

	function createGradeLectureOnSuccess(resp) {

		stopLoading();

		switch (resp.Type) {

			case "E":
				toastrError(resp.Message);
				break;
			case "S":
				toastrSuccess("Success");
				break;
			default:
				toastrError(anErrorOccurredMessage);
				break;
		}
	}

</script>