@model NS.STMS.MVC.Models.Admin.GradeLectures.GradeLecturesViewModel

@await Component.InvokeAsync("PageHeader", new { model = Model.PageHeader })

<div class="col-12">

	<div class="table-responsive">
		<table class="table table-hover" id="grade-lectures">
			<thead>
				<tr>
					<th></th>

					@foreach (var grade in Model.GradeLecturesDto.Grades)
					{
						<th>@grade.Value</th>
					}

					@await Component.InvokeAsync("TableExcel")
				</tr>
			</thead>
			<tbody>

				@foreach (var lecture in Model.GradeLecturesDto.Lectures)
				{
					<tr>
						<td>@lecture.Value</td>

						@foreach (var grade in Model.GradeLecturesDto.Grades)
						{
							bool exists = Model.GradeLecturesDto.GradeLectures.FirstOrDefault(x => x.GradeId.ToString() == grade.Key && x.LectureId.ToString() == lecture.Key) != null;
							string tickCheck = exists ? "tick-check" : "";

							<td id="@grade.Key-@lecture.Key"><span class='@tickCheck'><span /></td>
						}

						<td></td>
					</tr>
				}

			</tbody>
		</table>
	</div>

</div>
