<style>
	.btn-excel {
		color: #008000;
		border-color: #008000;
		width: 75px;
		border-color: #008000;
		padding: 0px;
		font-size: 13px;
	}

		.btn-excel:hover {
			background: #008000;
			color: #ffffff;
		}

	.mdi-file-excel {
		font-size: 13px !important;
	}

	.export-excel-th {
		width: 70px;
		padding: 10px 0px 10px 0px !important;
	}
</style>

<th class="export-excel-th">
	<button type="button" class="btn btn-excel" onclick="tableToExcel()">
		@Messages.Excel
		<i class="mdi mdi-file-excel"></i>
	</button>
</th>