@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>STMS | Student Management</title>
	<link rel="shortcut icon" href="~/images/logos/favicon.ico">

	<link rel="stylesheet" href="~/vendors/bootstrap/bootstrap-5.0.2.min.css" />
	<link rel="stylesheet" href="~/css/before-login.css" />
	<link rel="stylesheet" href="~/css/scroll-style.css" />

	<script src="~/js/jquery-3.7.1.min.js"></script>

</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-2"></div>
			<div class="col-lg-6 col-md-8 login-box">
				<div class="col-lg-12 login-key">
					<img class="logo" src="~/images/logos/logo.png" />
				</div>

				<div class="col-lg-12 login-form">

					@await Component.InvokeAsync("PasswordInputDiv", new
					{
					reenter = true,
					containerClasses = "offset-2 col-8 input-container"
					})

					<div class="row col-12">
						<div class="offset-md-3 col-md-6 login-btn-div">
							<button class="btn login-btn" onclick="resetPassword()">@Messages.Reset_Password</button>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

</body>

@await Component.InvokeAsync("Loading")
@await Component.InvokeAsync("ExceptionHelper")
@await Component.InvokeAsync("InputOperationHelper")
@await Component.InvokeAsync("PostJsonHelper")
@await Component.InvokeAsync("ToastrMessage")

<script>

	function resetPassword() {

		var isValid = isPasswordValid();

		if (!isValid) {
			throw "validation failed";
		}

		var password = getInputVal('PasswordInput');

		var data = {
			Password: password
		};

		var url = '/Account/ResetPassword';
		postJSonToController(url, data, resetPasswordOnSuccess);

	}

	function resetPasswordOnSuccess(resp) {

		stopLoading();

		switch (resp.Type) {

			case "E":
				toastrError(resp.Message);
				break;
			case "S":

				toastrSuccess();

				setTimeout(function () {
					window.location.href = '/Account/Logout';
				}, 1000);
				break;
			default:
				toastrError(anErrorOccurredMessage);
				break;
		}
	}

</script>

</html>