@model NS.STMS.MVC.Models.ComponentModels.HtmlElementCompenents.ProcessInputDivViewModel

<div class="col-lg-2 col-md-6 col-sm-12">
	<button id="@Model.Id" type="button" class="btn @Model.BtnClass process-btn" onclick="@Model.OnClick">@Model.Text</button>
</div>