
<style>
	.navbar-icons {
		margin-right: 10px;
		font-size: 20px;
	}
</style>


<ul class="nav">

	<li class="nav-item">
		<a class="nav-link" href="/Admin/GradeLectures">
			<i class="mdi mdi-table-large navbar-icons"></i>
			<span class="menu-title">@Messages.Grade_Lectures</span>
		</a>
	</li>
	
</ul>