<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>STMS | Student Management</title>
	<link rel="shortcut icon" href="~/images/logos/favicon.ico">

	<link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css" />
	<link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/vendors/bootstrap/bootstrap-5.0.2.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-override.css" />
	<link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="~/css/custom-style.css" />

	<script src="~/js/cookie.js"></script>
	<script src="~/js/jquery-3.7.1.min.js"></script>
	<script src="~/vendors/js/vendor.bundle.base.js"></script>
	<script src="~/vendors/bootstrap/bootstrap-5.0.2.min.js"></script>
	<script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

</head>

<body>

	<div class="container-scroller">

		<nav class="sidebar sidebar-offcanvas" id="sidebar">

			<div class="text-center sidebar-brand-wrapper d-flex align-items-center">
				<a class="sidebar-brand brand-logo" href="/Home/Index">
					<img src="~/images/logos/logo.png" />
				</a>
				<a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="/Home/Index">
					<img class="logo-mini" src="~/images/logos/logo-mini.png" />
				</a>
			</div>

			@await Component.InvokeAsync("Navbar")

		</nav>

		<div class="container-fluid page-body-wrapper">

			<nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">

				<div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
					<a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="/Home/Index">
						<img class="logo-mini" src="~/images/logos/logo-mini.png" />
					</a>
					<button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
						<i class="mdi mdi-menu"></i>
					</button>

					<ul class="navbar-nav">
						@await Component.InvokeAsync("Messages")
						@await Component.InvokeAsync("Notifications")
					</ul>

					@await Component.InvokeAsync("UserMenu")

				</div>

			</nav>

			<div class="main-panel">
				<div class="content-wrapper pb-0">
					<div class="col-12 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">

								@RenderBody()

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	@await Component.InvokeAsync("Loading")

</body>

@await Component.InvokeAsync("DropdownOperationHelper")
@await Component.InvokeAsync("ExceptionHelper")
@await Component.InvokeAsync("InputOperationHelper")
@await Component.InvokeAsync("PostJsonHelper")
@await Component.InvokeAsync("ToastrMessage")

<script>

	function setDataForListFilter(filterStorageKey, currentPage) {
		var data = getFilterParams(currentPage);
		localStorage.setItem(filterStorageKey, JSON.stringify(data));
	}

	function defineFunctionIfNotExists(name, implementation) {

		if (typeof window[name] === 'undefined') {
			window[name] = implementation;
		}
	}

</script>

</html>