<style>
	.loading-gif {
		display: none;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #808080df;
		z-index: 99999999;
	}

		.loading-gif img {
			height: 100px;
		}
</style>

<div class="loading-gif">
	<img src="~/images/layout/loading.gif" />
</div>

<script>

	function startLoading() {
		$(".loading-gif").css('display', 'flex');
	}

	function stopLoading() {
		$(".loading-gif").css('display', 'none');
	}

</script>