@model NS.STMS.MVC.Models.ComponentModels.LayoutComponentModels.UserMenuComponentModel

<ul class="navbar-nav navbar-nav-right ml-lg-auto">
	<li class="nav-item nav-profile dropdown border-0">
		<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
			<img class="nav-profile-img mr-2" alt="" src="~/images/faces/face1.jpg" />
			<span class="profile-name">@Model.NameSurname</span>
		</a>
		<div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
			<a class="dropdown-item" href="/Account/Preferences"><i class="mdi mdi-settings mr-2 text-success"></i>@Messages.Preferences</a>
			<a class="dropdown-item" href="/Account/LogOut"><i class="mdi mdi-logout mr-2 text-primary"></i>@Messages.Logout</a>
		</div>
	</li>
</ul>